<header class="sticky">
  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="navbar-nav mr-auto header-social">
      <a href="http://instagram.com/miruku_ottawa" target="_blank" class="fa fa-instagram fa-2x"> </a>
      <a href="https://www.facebook.com/MirukuOttawa" target="_blank" class="fa fa-facebook-square fa-2x"></a>
    </div>
    <div class="navbar-nav mr-auto header-link">
      <a routerLink="/home">MIRUKU</a>
    </div>
    <div class="navbar-nav ml-auto" id="header-cart-items">
      <li>
        <a id="header-cart" (click)="clickCart()">
          <i class="fa fa-shopping-cart"></i>
          <span class="cartName"> Cart </span>
          <span class="badge">{{itemCount}}</span>
        </a>
      </li>
      <li>
        <a id="header-checkout" (click)="clickCheckout()">
          Checkout
        </a>
      </li>
    </div>
  </nav>
</header>
