<div class="footer">
  <div class="container copyright">
    <nav class="footer-social">
      <ul>
        <li>
          <a href="http://instagram.com/miruku_ottawa" target="_blank" class="fa fa-instagram fa-2x social-icon"></a>
        </li>
        <li>
          <a href="https://www.facebook.com/MirukuOttawa" target="_blank" class="fa fa-facebook-square fa-2x social-icon"></a>
        </li>
      </ul>
    </nav>
    <footer>
      <p>Made by Miruku &copy; 2018</p>
    </footer>
  </div>
</div>
