.shopping-cart {
  background: var(--background-cart);

  z-index: 5;

  position: fixed;
  box-sizing: border-box;
  height: 95vh;

  top: 0;
  bottom: auto;
  left: auto;
  right: -20vw;

  margin-top: 70px;
  margin-bottom: 10px;
  padding: 10px;

  width: 20vw;
  padding: 0;
  overflow-x: hidden;
  transition: 0.5s cubic-bezier(0.18, 0.89, 0.32, 1);

  font-family: "Rajdhani", sans-serif;
  letter-spacing: 2px;
}

.shopping-cart.showCart {
  right: 0;
  box-shadow: 0 0 5px 0 rgb(43, 43, 43);
  transition: 0.5s cubic-bezier(0.19, 0.58, 0.67, 1.15);
}

.shopping-cart .shopping-cart-header {
  box-sizing: border-box;
  border-bottom: 1px solid #c8c6c5;
  font-size: 16px;
  height: 60px;
  padding: 10px 0 10px;
  position: relative;
  text-align: center;
  width: 100%;
}

.shopping-cart .shopping-cart-header .closebtn-cart {
  position: absolute;
  left: 10px;
  top: 0;
  z-index: 5;
  cursor: pointer;
  color: rgb(170, 170, 170);
  background-color: transparent;
  font-size: 40px !important;
  border-color: transparent;
}

.shopping-cart-content {
  display: flex;
  flex-direction: column;
}

.shopping-cart-footer {
  padding: 20px 20px 50px 20px;
  width: 100%;
  border-top: 1px solid #c8c6c5;
}

.shopping-cart-total {
  padding-top: 15px;
  padding-bottom: 15px;
  color: rgb(190, 190, 190);
  font-size: 17px;
  text-align: right;
}

.shopping-cart-empty {
  padding: 70px 30px 70px 30px;
}

.shopping-cart h1 {
  color: rgb(151, 151, 151);
  text-align: center;
  font-size: 1.5rem;
}

.shopping-cart h2 {
  color: rgb(175, 175, 175);
  text-align: center;
  line-height: 40px;
  font-size: 1.5rem;
}

.shopping-cart-footer .fa-shopping-cart {
  color: rgb(190, 190, 190);
  font-size: 25px;
  padding: 5px;
  margin-left: 60px;
}

.lighter-text {
  color: #abb0be;
}

.main-color-text {
  font-size: 22px;
  color: rgb(92, 92, 92);
  padding-right: 10px;
}

.button-checkout {
  height: 40px;
  font-size: 20px;
  background-color: #ff6958;
  border-color: #ff6958;
}

@media screen and (max-width: 1300px) {
  .shopping-cart.showCart {
    min-width: 320px;
  }
}

@media screen and (max-width: 1023px) {
  .shopping-cart {
    position: fixed;
    height: 75%;
    width: 100%;
    top: -200vw;
    right: 0;
    padding: 20px;
    margin-top: 40px;
    overflow-y: hidden;
    transition: 0.4s;
  }

  .shopping-cart.showCart {
    top: -10vw;
    height: 100vh;
    z-index: 10;
    box-shadow: 0 0 5px 0 rgb(43, 43, 43);
  }

  .shopping-cart .shopping-cart-footer {
    width: 95%;
  }
}
