<div class="container product-detail">
  <div class="row" *ngIf="selectedItem">
    <div class="col-sm-12 col-md-8 col-xl-7">
      <div id="productCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item">
            <img [src]="selectedItem.imagePath[0]" [alt]="selectedItem.imagePath[0]" />
          </div>
        </div>
        <a class="carousel-control left" href="#productCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#productCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>

      <div class="product-description" [innerHtml]="selectedItem.description"></div>
    </div>
    <div class="col-sm-12 col-md-4 col-xl-5">
      <form class="form-product-detail" #optionForm="ngForm">
        <div class="form-group row btn-product-option1">
          <h1>{{selectedItem.title[0]}}</h1>
          <br />

          <div class="btn-group btn-group-toggle row " data-toggle="buttons">
            <label class="btn btn-outline-info btn-lg product-detail-btn-menu option1" [attr.data-option1]="title.split( ' : ')[0]" [attr.data-price]="title.split(' : ')[1]"
              [attr.data-optionidx]="idx - 1" data-target="#productCarousel" [attr.data-slide-to]="idx - 1" *ngFor="let title of selectedItem.title | slice:1; let idx = index;"
              (click)="handleSelectedOption1(title.split( ': ')[0], title.split( ': ')[1], selectedItem.price[0].indexOf('flavour') > -1 || selectedItem.price[0].indexOf('BAKED') > -1 )">
              <input [type]="selectedItem.price[0].indexOf('flavour') > -1 || selectedItem.price[0].indexOf('BAKED') > -1 ? 'checkbox' : 'radio'"
                name="options" id="option1" autoComplete="off" /> {{title.split(": ")[0]}}
            </label>
          </div>
        </div>
        <div class="form-group row" *ngIf="selectedItem.price[0] !== ''">
          <div class="btn-group btn-group-toggle row" data-toggle="buttons">
            <label class="btn btn-outline-secondary btn-lg product-detail-btn-menu option2" [attr.data-option2]="price.split(':')[0]"
              [attr.data-price]="price.split(':')[1]" *ngFor="let price of selectedItem.price" (click)="handleSelectedOption2(price.split(':')[0], price.split(':')[1])">
              <input type="radio" name="options" [id]=" 'product-option-' + index" autoComplete="off" /> {{price.split(":")[0]}}
            </label>
          </div>
        </div>

        <div class="form-group row">
          <div class="product-detail-price">
            <h2 *ngIf="selectedOption1.length > 0">
              {{selectedOption1}}
            </h2>
            <div class="product-detail-selection">
              <h2> {{selectedOption2}} </h2>
              <h2 *ngIf="selectedPrice != 0">Price: $ {{selectedPrice}}</h2>
            </div>
            <h3 *ngIf="!isChosen">Please select the proper option.</h3>
          </div>
        </div>

        <button type="submit" class="btn btn-lg btn-block " [ngClass]="selectedOption1 && selectedPrice ? 'showAddCartButton' : '' "
          id="button-add-cart" (click)="handleAddCart()">

          <i class="fa fa-shopping-cart " *ngIf="selectedOption1 && selectedPrice ; else selectOption">
            <span id="addCartText ">ADD TO CART</span>
          </i>
          <ng-template #selectOption>Please select an option.</ng-template>
        </button>
      </form>
    </div>
  </div>
</div>
