*,
*:before,
*:after {
  box-sizing: border-box;
}

.shopping-cart {
  background: var(--background-cart);

  z-index: 5;

  position: fixed;
  box-sizing: border-box;
  height: 95vh;

  top: 0;
  bottom: auto;
  left: auto;
  right: -20vw;

  margin-top: 70px;
  margin-bottom: 10px;
  padding: 10px;

  width: 20vw;
  padding: 0;
  overflow-x: hidden;
  transition: 0.5s cubic-bezier(0.18, 0.89, 0.32, 1);

  font-family: "Rajdhani", sans-serif;
  letter-spacing: 2px;
}

.shopping-cart.showCart {
  right: 0;
  box-shadow: 0 0 5px 0 rgb(43, 43, 43);
  transition: 0.5s cubic-bezier(0.19, 0.58, 0.67, 1.15);
}

.shopping-cart .shopping-cart-header {
  box-sizing: border-box;
  border-bottom: 1px solid #c8c6c5;
  font-size: 16px;
  height: 60px;
  padding: 10px 0 10px;
  position: relative;
  text-align: center;
  width: 100%;
}

.shopping-cart .shopping-cart-header .closebtn-cart {
  position: absolute;
  left: 10px;
  top: 0;
  z-index: 5;
  cursor: pointer;
  color: rgb(170, 170, 170);
  background-color: transparent;
  font-size: 40px !important;
  border-color: transparent;
}

.shopping-cart-content {
  display: flex;
  flex-direction: column;
}

.shopping-cart .shopping-cart-footer {
  padding: 20px 20px 50px 20px;
  width: 100%;
  border-top: 1px solid #c8c6c5;
}

.shopping-cart-content .shopping-cart-body {
  height: 70vh;
  overflow-y: auto;
}

.shopping-cart-body ul {
  list-style: none;
  padding: 0;
}

.shopping-cart-body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.shopping-cart-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.123);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
.shopping-cart-body::-webkit-scrollbar-thumb {
  background: rgba(221, 221, 221, 0.835);
  -webkit-box-shadow: inset 0 0 5px rgba(8, 8, 8, 0.233);
}

.shopping-cart .shopping-cart-footer .shopping-cart-total {
  padding-top: 15px;
  padding-bottom: 15px;
  color: rgb(190, 190, 190);
  font-size: 17px;
  text-align: right;
}

.shopping-cart-empty {
  padding: 70px 30px 70px 30px;
}

.shopping-cart h1 {
  color: rgb(151, 151, 151);
  text-align: center;
}

.shopping-cart h2 {
  color: rgb(175, 175, 175);
  text-align: center;
  line-height: 40px;
}

.shopping-cart-footer .fa-shopping-cart {
  color: rgb(190, 190, 190);
  font-size: 25px;
  padding: 5px;
  margin-left: 60px;
}

.lighter-text {
  color: #abb0be;
}

.main-color-text {
  font-size: 22px;
  color: rgb(92, 92, 92);
  padding-right: 10px;
}

.button-checkout {
  height: 40px;
  padding: 30px;
  font-size: 20px !important;
  background-color: #ff6958 !important;
  border-color: #ff6958 !important;
}

@media screen and (max-width: 1300px) {
  .shopping-cart.showCart {
    min-width: 320px;
  }
}

@media screen and (max-width: 1023px) {
  .shopping-cart {
    position: fixed;
    height: 75%;
    width: 100%;
    top: -200vw;
    right: 0;
    padding: 20px;
    margin-top: 40px;
    overflow-y: hidden;
    transition: 0.4s;
  }

  .shopping-cart.showCart {
    top: -10vw;
    height: 100vh;
    z-index: 10;
    box-shadow: 0 0 5px 0 rgb(43, 43, 43);
  }

  .shopping-cart-body {
    height: 50vh !important;
    overflow-y: auto;
  }

  .shopping-cart .shopping-cart-footer {
    width: 95%;
  }
}

@media screen and (max-width: 600px) {
  .shopping-cart-body {
    height: 60vh !important;
  }
}

.shopping-cart-items {
  padding: 20px 30px 20px 10px;
  margin-bottom: 0;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  position: relative;
}

.shopping-cart-items .fa-trash {
  position: absolute;
  right: 15px;
  font-size: 20px;
  color: rgb(255, 126, 133);
  cursor: pointer;
}

.shopping-cart-items img {
  line-height: 28px;
  color: #fff;
  margin: 0 20px 0 0;
  float: left;
  width: 70px;
  height: 70px;
  display: block;
}

.shopping-cart-items-info {
  margin: 0;
  padding: 0;
  border: 0;
}

.shopping-cart-items-info strong {
  font-size: 15px;
}

.item-name {
  color: rgb(212, 212, 212);
  display: block;
  padding-top: 0px;
  font-size: 14px;
}

.item-price {
  color: rgb(92, 92, 92);
  margin-right: 8px;
}

.item-quantity {
  color: rgb(149, 153, 163);
}

.shopping-cart-items li {
  list-style: none;
  padding-left: 0;
  padding-top: 0;
  font-size: 14px;
}
