<div class="shopping-cart-body" *ngIf="items.length > 0">
  <ul *ngFor="let item of items">
    <li class="shopping-cart-items">
      <img [src]="item.imagePath" [alt]="item.selectedOption1" />
      <div class="shopping-cart-items-info">
        <div>
          <strong>{{item.selectedOption1}}</strong>
        </div>
        <ul>
          <li>{{item.selectedOption2}}</li>
          <li>${{item.price}}</li>
        </ul>
      </div>
      <a (click)="removeItem(item.selectedOption1)">
        <i class="fa fa-trash"></i>
      </a>
    </li>
  </ul>
</div>
