<div class="container-fluid checkout">
  <div class="row">
    <div class="box col-sm-12 col-md-5 col-xl-4" id="order-shopping-cart">
      <div class="box-title">
        <h1>Shopping Bag</h1>
      </div>
      <!-- <div class="shopping-cart-empty">
        <h1>Cart is empty</h1>
      </div> -->
      <app-cart-items></app-cart-items>
    </div>

    <div class="box col-sm-12 col-md-7 col-xl-6" id="checkout-form">
      <div class="box-title">
        <h1>Checkout</h1>
      </div>

      <div class="form">
        <form>
          <div class="form-group row">
            <label htmlFor="email-input" class="col-2 col-form-label">
              Email
            </label>
            <div class="col-10">
              <input class="form-control" type="email" placeholder="awesome@miruku.com" name="email-input" required />
            </div>
          </div>
          <div class="form-group row">
            <label htmlFor="tel-input" class="col-2 col-form-label">
              Phone
            </label>
            <div class="col-10">
              <input class="form-control" type="tel" placeholder="1-(555)-555-5555" id="tel-input" />
            </div>
          </div>
          <div class="form-group row">
            <label htmlFor="datetime-local-input" class="col-2 col-form-label">
              Date
            </label>
            <div class="col-10">
              <input class="form-control" type="month" placeholder="2011-08-19T13:45:00" id="datetime-local-input" />
            </div>
          </div>
          <div class="form-group row">
            <label htmlFor="time-input" class="col-2 col-form-label">
              Time
            </label>
            <div class="col-10">
              <select class="form-control">
                <option disabled selected value>
                  -- select time --
                </option>
                <option>11am</option>
                <option>12pm</option>
                <option>1pm</option>
                <option>2pm</option>
                <option>3pm</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <legend class="col-form-legend col-12">
              Pick-up or Delivery Location
            </legend>
            <div class="col-12">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="location1" /> Pick-up at 1280 Baseline Rd, Ottawa
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="location2" /> Pick-up at 319 Rideau st, Ottawa
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="location3" />
                  <input class="form-control" type="text" placeholder="Delivery at" id="location-text-input" />
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label htmlFor="exampleTextarea"></label>
            <div class="col-12">
              <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            </div>
          </div>
          <button type="submit" id="submitButton" class="btn btn-block">
            Submit
          </button>
          <br />
          <br />
          <p>*Please allow us few days notice for any order.</p>
        </form>
      </div>
    </div>
  </div>
</div>
