<div class="container content-shop" id="content-shop">
  <div class="jumbotron">
    <h1>SHOP</h1>
    <p class="divider-line">
      Everyone deserves more delicious dessert
    </p>
  </div>
  <router-outlet></router-outlet>
  <div class="row" id="product-thumb">
    <div class="col-lg-4 col-md-6 col-sm-12 text-center" *ngFor="let item of items">
      <div class="thumbnail">
        <a routerLink="/product/{{item.id}}" (click)="onSelect(item)">
          <img [src]=" item.imagePath.split( ',')[0] " [alt]="item.title.split( ',')[0] " />
          <div class="img-thumb-overlay ">
            <h2>{{item.title.split(',')[0]}}</h2>
            <p>
              <a class="img-thumb-text ">Find Out</a>
            </p>
          </div>
        </a>
        <router-outlet></router-outlet>
        <div class="caption ">
          <p>{{item.title.split(',')[0]}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
