<div class="container-fluid content-intro transition-item" id="content-intro">
  <div class="row">
    <div class="col-12 content-about-top">
      <div class="content-about col-12">
        <p>
          We specialize in Asian style of desserts made with premium ingredients to give their customers an exclusive high-end product.
          Everything is from scratch and fresh.
        </p>
      </div>
      <div class="container-fluid col-12 text-center">
        <h1>Catering</h1>
        <p class="divider-line">
          We provide a absolute superior catering service.
        </p>
        <br />
        <div class="row">
          <div class="col-md-4">
            <h2>CORPORATE EVENTS</h2>
            <p>
              Ottawa’s business community has chosen MIRUKU to cater launches, openings and galas because they know we go above and beyond.
            </p>
            <img src="../../assets/images/catering1.jpg" alt="catering1" width="350" />
          </div>
          <div class="col-md-4">
            <h2>PRIVATE FUNCTIONS</h2>
            <p>
              Dinner and cocktail parties, intimate gatherings, networking events & more. Contact us for help creating your unique event
              today!
            </p>
            <img src="../../assets/images/catering2.jpg" alt="catering2" width="350" />
          </div>
          <div class="col-md-4">
            <h2>WEDDINGS</h2>
            <p>
              Your Vision, our expertise! We will advise, assist and guide you every step of the way in creating an event your guests will
              never forget
            </p>
            <img src="../../assets/images/catering3.jpg" alt="catering3" width="350" />
          </div>
        </div>
      </div>
      <div class="content-pickup">
        <h1>PICK-UP & Delivery</h1>
        <p class="divider-line">
          We provide a absolute superior catering service.
        </p>
        <div class="row">
          <div class="col-sm-12 col-md-4 col-xl-4">
            <h2>PICK-UP AVAILABLE AT (BY APPOINTMENT)</h2>
            <blockquote>
              <p>1280 Baseline Rd, Ottawa</p>
              <p>Sushi Kan Parking Lot </p>
              <p>Mon-Sat, 9am to 9pm </p>
            </blockquote>
          </div>
          <div class="col-sm-12 col-md-8 col-xl-8">
            <agm-map [zoom]="15" [latitude]="45.364083" [longitude]="-75.732698">
              <agm-marker [latitude]="45.364083" [longitude]="-75.732698"></agm-marker>
            </agm-map>
          </div>
        </div>
        <h2>DELIVERY (BY APPOINTMENT)</h2>
        <blockquote>
          <p>Mon-Fri, 10am to 2pm / 6pm to 9pm</p>
          <p>
            All menu is available to deliver, but whole cake has to be picked up.
          </p>
        </blockquote>
      </div>
    </div>
  </div>
</div>
