<div class="home-single-page transition-item">
  <div id="carousel-home" class="carousel carousel-fullscreen slide carousel-fade" data-ride="carousel" data-interval="5000">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item one active">
        <div class="overlay"></div>
        <div class="carousel-caption">
          <h1 class="super-heading">ミルク MIRUKU</h1>
          <br />
          <br />
          <p class="super-paragraph">Fresh, From Scratch, Orders Only </p>
          <br />
          <button [ngx-scroll-to]="'#content-shop'" class="btn btn-outline-light btn-lg">
            SHOP
          </button>
        </div>
      </div>
      <div class="carousel-item two">
        <div class="carousel-caption">
          <h1 class="super-heading">ミルク MIRUKU</h1>
          <br />
          <br />
          <p class="super-paragraph">Fresh, From Scratch, Orders Only </p>
          <br />
          <button [ngx-scroll-to]="'#content-shop'" class="btn btn-outline-light btn-lg">
            SHOP
          </button>
        </div>
      </div>
      <div class="carousel-item three">
        <div class="carousel-caption">
          <h1 class="super-heading">ミルク MIRUKU</h1>
          <br />
          <br />
          <p class="super-paragraph">Fresh, From Scratch, Orders Only </p>
          <br />
          <button [ngx-scroll-to]="'#content-shop'" class="btn btn-outline-light btn-lg">
            SHOP
          </button>
        </div>
      </div>
    </div>

    <div class="home-social">
      <a href="http://instagram.com/miruku_ottawa" target="_blank" class="fa fa-instagram fa-3x social-icon">&emsp;&emsp;</a>
      <a href="https://www.facebook.com/MirukuOttawa" target="_blank" class="fa fa-facebook-square fa-3x social-icon"></a>
    </div>
  </div>
</div>
