.home-single-page {
  font-family: "Quicksand", sans-serif;
  font-family: "Josefin Sans", sans-serif !important;
  font-family: "Rubik", sans-serif;
  font-family: "Abel", sans-serif;
  font-family: "Rajdhani", sans-serif;
}

.carousel-fade .carousel-inner .carousel-item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .carousel-item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 10;
}

.carousel-fullscreen .carousel-inner .carousel-item {
  height: 100vh;
  min-height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-fullscreen .carousel-caption {
  top: 50%;
  bottom: auto;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.one {
  background-image: url("../../assets/images/home-slide-1.jpg");
}
.two {
  background-image: url("../../assets/images/home-slide-2.jpg");
}
.three {
  background-image: url("../../assets/images/home-slide-3.jpg");
}

.carousel-item .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  transition: all 0.2s ease-out;
}

h1,
h2,
h3,
h4 {
  font-weight: 800;
}

.carousel-caption h1,
.carousel-caption h2 {
  color: rgb(195, 195, 195);
  letter-spacing: 5px;
  font-family: "Rubik", sans-serif;
}

.carousel-caption p {
  color: rgb(218, 218, 218);
  font-family: "Amatic SC", cursive;
  font-size: 40px;
  letter-spacing: 4px;
}

.super-heading {
  font-size: 70px;
}

.super-paragraph {
  font-size: 20px;
  font-weight: 300;
  font-family: "Amatic SC", cursive !important;
}

.carousel-caption .super-paragraph a,
.carousel-caption .super-paragraph a:hover {
  color: #fff;
}

.notice-content {
  padding-top: 50px;
  padding-bottom: 50px;
}

.home-social {
  position: absolute;
  z-index: 3;
  top: 95%;
  left: 48%;
  text-decoration: none;
}

.home-social a {
  color: rgb(177, 177, 177);
}

.home-social a:hover {
  color: white;
}

@media screen and (max-width: 767px) {
  .home-social {
    left: 40%;
  }
}
